In [1]:
a=3
A=5
print(a)
print(A)

3
5

In [2]:
3A = 2

SyntaxError: invalid syntax (<ipython-input-2-ea85cb5e90bf>, line 1)

In [3]:
if = 3

SyntaxError: invalid syntax (<ipython-input-3-d8d9c52e09ce>, line 1)

In [4]:
type(A)

int

In [5]:
type(a)

int

In [1]:
from datetime import datetime
now = datetime.now()
print(now)
a = now.hour
b = now.minute
print(a+b)

2020-03-14 06:06:48.917250
12

In [7]:
aType="This is 'String' value"

In [8]:
aType

"This is 'String' value"

In [9]:
cType="""This is 'string' value"""
print(cType)

This is 'string' value

In [10]:
head = "Smart"

In [11]:
tail = "analytics"
fullString = head + " " + tail
print(fullString)

Smart analytics

In [12]:
print("*")

*

In [13]:
print("*"*20 + " 문자열 연산 프로그램 ")

******************** 문자열 연산 프로그램

In [14]:
print("*"*20 + " 문자열 연산 프로그램 "+"*"*20)

******************** 문자열 연산 프로그램 ********************

In [15]:
yearweek = "201801"
print(yearweek[0])
print(yearweek[0:4])
print(yearweek[4:])

2
2018
01

In [16]:
yearweek = "2017W28"
print(yearweek.count('W'))

1

In [17]:
print(yearweek.index('W'))
delimeter = yearweek.index('W')
yearweek_new = yearweek[:delimeter] + yearweek[delimeter+1:]
print([yearweek_new])

4
['201728']

In [18]:
print(yearweek.upper('W'))

TypeError: upper() takes no arguments (1 given)

In [20]:
earweek_list = yearweek.split("W")
print(yearweek_list)

['2017', '28']

In [2]:
stringName = "SEC 20180212 250"
print(stringName)
stock_name = stringName[0:3]
print("stock_name:",stock_name)
date = stringName[4:12]
print("date:",date)
value = stringName[13:16]
print("value:",value)

SEC 20180212 250
stock_name: SEC
date: 20180212
value: 250

In [3]:
stringName2 = "Sec 2018W28 250"
stringName2_upper = stringName2.upper()
stringName2_list = stringName2_upper[0:8] + stringName2_upper[9:15]
print(stringName2_list)
stock_name = stringName2_list[0:3]
print("stock_name:",stock_name)
date = stringName2_list[4:10]
print("date:",date)
value = stringName2_list[11:14]
print("value:",value)

SEC 201828 250
stock_name: SEC
date: 201828
value: 250

In [66]:
emptyList = []
print(emptyList)

[]

In [67]:
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712, 201713]

secinfo = stockName + priceList + [dateList]
print(secinfo)

['SEC', 120, 130, [201712, 201713]]

In [68]:
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])

120
[201712, 201713]
201712
['SEC', 120, 130]

In [70]:
updateList = [120, 130, 140, 150]
print(updateList)
updateList[2] = 180
print(updateList)
del updateList[3]
print(updateList)
updateList[1:3] = []
print(updateList)

[120, 130, 140, 150]
[120, 130, 180, 150]
[120, 130, 180]
[120]

In [71]:
functionList = [120, 130, 140, 150]
functionList.append(100)
print(functionList)
functionList.insert(3, 100)
print(functionList)
functionList.extend([11, 12])
print(functionList)

[120, 130, 140, 150, 100]
[120, 130, 140, 100, 150, 100]
[120, 130, 140, 100, 150, 100, 11, 12]

In [72]:
functionList.sort(reverse = False)
print(functionList)

[11, 12, 100, 100, 120, 130, 140, 150]

In [73]:
print(functionList.index(150))

7

In [74]:
print(len(functionList))
print(min(functionList))
print(max(functionList))
print(sum(functionList))

8
11
150
763

In [75]:
functionList = [120, 130, 140, 150, 120]
functionList.count(120)

2

In [76]:
functionList.pop()

120

In [77]:
print(functionList)

[120, 130, 140, 150]

In [84]:
List = [120,150, 300, 500, 1000, 100, 2000]

del List[List.index(min(List))]
print(List)
del List[List.index(max(List))]
print(List)

average = sum(List) / len(List)
print(average)

[120, 150, 300, 500, 1000, 2000]
[120, 150, 300, 500, 1000]
414.0

In [85]:
dic = {"name":"sec", "id":"300000", "address":"suwon"}
print(dic)
print(dic['name'])

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec

In [86]:
dic["name"] = "sec2"
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
yes

In [87]:
del dic["id"]
print(dic)

{'name': 'sec2', 'address': 'suwon', 'stock': 'yes'}

In [89]:
dic = {"name":"sec", "id":"300000", "address":"suwon"}
del dic["id"]
print(dic)

{'name': 'sec', 'address': 'suwon'}

In [90]:
import pandas as pd
data = {'name':['A고객','B고객','C고객','D고객'],
       'age':[27,40,33,29],
       'stock_age':[2,10,5,1]}
dataFrame = pd.DataFrame(data)
print(dataFrame)

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

In [91]:
import pandas as pd
test = [10,100,1000,10000]
testDf=pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [92]:
testDf.columns=["test"]
testDf

    test
0     10
1    100
2   1000
3  10000

In [103]:
import pandas as pd
data = ['16.02.29','16.02.26','16.02.25','16.02.24','16.02.23']
date2 = ['17.02.29','17.02.26','17.02.25','17.02.24','17.02.23']

In [105]:
date_df = pd.DataFrame(date, columns=['date2'])
date_df2 = pd.DataFrame(date2, columns=['date23'])
final = pd.concat([date_df,date_df2],axis=1)
final

ValueError: DataFrame constructor not properly called!

In [106]:
import pandas as pd
favorite = ['파이썬','자바','씨샵']
favorite2 = ['노랑','파랑','빨강']

favorite_df = pd.DataFrame(favorite, columns=['언어'])
favorite_df2 = pd.DataFrame(favorite2, columns=['색깔'])

final = pd.concat([favorite_df, favorite_df2], axis = 1)
final

    언어  색깔
0  파이썬  노랑
1   자바  파랑
2   씨샵  빨강

In [5]:
tvList = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']
print(tvList)

['UN40EN001', 'UN40EN002', 'UN40EN003', 'UN40EN004']

In [114]:
preFix = "LEDTV_"
for i in range(0,4):
    tvList[i] = preFix + tvList[i]
print(tvList)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [115]:
preFix = "LEDTV_"
i = 0
listLength = len(tvList)
while(i < listLength):
    tvList[i] = preFix + tvList[i]
    i = i + 1
print(tvList)

['LEDTV_LEDTV_UN40EN001', 'LEDTV_LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'LEDTV_LEDTV_UN40EN004']

In [144]:
tvList = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']
for i in range(0,4):
    tvList2 = [tvList[i-3],tvList[i-2],tvList[i-1],tvList[i]]
print(tvList2)

['UN40EN001', 'UN40EN002', 'UN40EN003', 'UN40EN004']

In [145]:
tvList2 = ['UN40EN001','LEDTV_UN40EN002','LEDTV_UN40EN003','UN40EN004']
preFix = "LEDTV_"

for i in range(0,4):
    preFixCount = tvList2[i].count(preFix)
    if(preFixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    else:
        tvList2[i] = tvList2[i]
print(tvList2)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [6]:
# 해결 완료

tvList2 = ['UN40EN001','LEDTV_UN40EN002','LEDTV_LEDTV_UN40EN003','UN40EN004']
preFix = "LEDTV_"

#모든 리스트에 "LEDTV_"를 합친후 2개 이상 붙을시 삭제
for i in range(0,4):
    
    tvList2[i] = preFix + tvList2[i]
    preFixCount = tvList2[i].count(preFix)

    if(preFixCount >= 2):
        tvList2[i] = tvList2[i].split("_")
        tvList2[i] = tvList2[i][-1]
        tvList2[i] = preFix + tvList2[i]
        
    else:
        tvList2[i] = tvList2[i]
      
print(tvList2)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [10]:
# 해결완료
List = ['A01','한국','A02','미국','A03','프랑스']

listLength = len(List)
print(listLength)
i = 0
k = 0

# "A코드" 카운팅: k변수
for j in range(0,listLength):
    if ("A" in List[j]):
        k = k + 1
    else:
        List[j]= List[j]

print(k)

# A코드 없어질때까지 while문 구동(A코드 삭제시 인덱스변동고려 필요)
while(k != 0):
    if ("A" in List[i]):
        del(List[i])
        k = k - 1
    else:
        List[i] = List[i]
        i = i + 1
        
print(List)

#출력1 : raw 리스트 요소 갯수
#출력2 : A코드 갯수
#출렫3 : Sorting 된 리스트(국가코드만)

6
3
['한국', '미국', '프랑스']

In [185]:
List = ['A01','한국','A02','미국','A03','프랑스']
List.remove('A01')
List.remove('A02')
List.remove('A03')
print(List)

['한국', '미국', '프랑스']

In [11]:
score = 80

if (score >= 90):
    grade = "A"
elif (score >= 80):
    grade = "B"
else:
    grade = "C"
    
print(grade)

B

In [3]:
target = 1.8867924528301887
target_step1 = target * 100
target_step2 = round(target_step1)
target_step3 = target_step2/100
print(target_step1)
print(target_step2)
print(target_step3)

188.67924528301887
189
1.89

In [8]:
def roundTwo(value):
    step1 = value * 100
    step2 = round(step1)
    step3 = step2 / 100
    return step3
a = 10
b = 5.3
display2Digit = a/b
print(display2Digit)
answer = roundTwo(display2Digit)
answer

1.8867924528301887

1.89

In [13]:
data = map(int, input("숫자 입력 : ").split())
List = list(data)
print(List)

def func(data):
    del List[List.index(min(List))]
    del List[List.index(max(List))]
    average = sum(List) / len(List)
    return average

print(func(List))

숫자 입력 :  1 2 434 34 34223 4

[1, 2, 434, 34, 34223, 4]
118.5

In [19]:
data = map(int, input("숫자 입력 : ").split())
List = list(data)
print(List)

def aver(List):
    minData = min(List)
    maxData = max(List)
    a = List.count(minData)
    b = List.count(maxData)
    c = len(List)
    average = (sum(List) - (minData*a) - (maxData*b))/(c-a-b)
    return average

print(aver(List))

숫자 입력 :  0 0 1 10 10

[0, 0, 1, 10, 10]
1.0

In [1]:
a ="korea_figthi"
type(a)

str

In [2]:
yearWeekValue = "2017w42"
yearWeekValue[0,4]

TypeError: string indices must be integers

In [13]:
import pandas as pd

customerData = pd.read_csv(r"C:\Users\bh200\Desktop/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

minData = min(customerTotalList)
print("minimum:", minData)
maxData = max(customerTotalList)
print("maximum:", maxData)

a = customerTotalList.count(minData)
print("count of minimum value:", a)
b = customerTotalList.count(maxData)
print("count of maximum value:", b)
c = len(customerTotalList)
print("length of List:", c)

averageData = (sum(customerTotalList) - (minData*a) - (maxData*b))/(c-a-b)

print("average of customer total list:", averageData)

minimum: 0
maximum: 3103500
count of minimum value: 256
count of maximum value: 1
length of List: 300000
average of customer total list: 35248.91490376756

In [14]:
import pandas as pd

customerData = pd.read_csv(r"C:\Users\bh200\Desktop\pythonExample/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

minData = min(customerTotalList)
print("minimum:", minData)
maxData = max(customerTotalList)
print("maximum:", maxData)

a = customerTotalList.count(minData)
print("count of minimum value:", a)
b = customerTotalList.count(maxData)
print("count of maximum value:", b)
c = len(customerTotalList)
print("length of List:", c)

averageData = (sum(customerTotalList) - (minData*a) - (maxData*b))/(c-a-b)

print("average of customer total list:", averageData)

minimum: 0
maximum: 3103500
count of minimum value: 256
count of maximum value: 1
length of List: 300000
average of customer total list: 35248.91490376756